In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:

# Load data
train_data = pd.read_csv(r'C:\Users\Local User\Documents\MITx\Machine Learning\Kaggle\Classification with an Academic Success Dataset\train.csv')
test_data = pd.read_csv(r'C:\Users\Local User\Documents\MITx\Machine Learning\Kaggle\Classification with an Academic Success Dataset\test.csv')

In [3]:
train_data.head()
test_data.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [4]:
def preprocess_data(data, is_train=True):
    # pop id
    ids = data.pop('id')

    drop_columns = [
        'Nacionality',
        'International']
    
    data = data.drop(columns=drop_columns)
    
    # Create interaction features
    data['Interaction_Curricular_units'] = data['Curricular units 1st sem (enrolled)'] * data['Curricular units 2nd sem (enrolled)']
    
    # Create ratio features
    data['Ratio_Approved_Enrolled_1st'] = data['Curricular units 1st sem (approved)'] / (data['Curricular units 1st sem (enrolled)'] + 1e-5)
    data['Ratio_Approved_Enrolled_2nd'] = data['Curricular units 2nd sem (approved)'] / (data['Curricular units 2nd sem (enrolled)'] + 1e-5)
    
    # # Create new feature: Cumulative Grades
    data['Cumulative_Grades'] = data['Curricular units 1st sem (grade)'] + data['Curricular units 2nd sem (grade)']
    
    # # Handle missing values for numeric columns
    # numeric_cols = data.select_dtypes(include=[np.number]).columns.tolist()
    # data[numeric_cols] = data[numeric_cols].fillna(data[numeric_cols].median())
    
    # # Convert categorical variables into dummy/indicator variables
    # categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
    # categorical_cols = [col for col in categorical_cols if col != 'Target']  # Exclude the target column from dummy conversion
    # data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)
    
    if is_train:
        target = data.pop('Target')  # pop the target variable for training data
        return data, target, ids
    else:
        return data, ids

In [5]:
# #Classify the categorical variables
# cat_features = ['Marital status', 'Application mode', 'Course', 'Previous qualification', 'Nacionality',
#                 "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation"]

In [7]:
# Preprocess the datasets
df_train, y_train, train_ids = preprocess_data(train_data, is_train=True)
df_test, test_ids = preprocess_data(test_data, is_train=False)

In [8]:
print(train_data.columns)
print(test_data.columns)

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')
Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP'],
      dtype='object')

In [9]:
# Insert test_ids into test_data at the first position
test_data.insert(0, 'id', test_ids)

#save the preprocess output files
train_data.to_csv('train_data_preprocess.csv', index=False)
test_data.to_csv('test_data_preprocess.csv', index=False)

In [10]:
test_data.shape

(51012, 37)